{% extends 'dashboard/base.html' %}

{% block title %} Dr.Rema devi | Dashboard {% endblock %}
{% block content %}

{% load static %}
<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    .dashboard-container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: black;
        margin-bottom: 20px;
        text-align: center;
    }

    .count-box {
        color: black;
        padding: 20px;
        border-radius: 8px;
        margin-bottom: 20px;
        text-align: center;
        border: 1px solid #ccc; /* Add border property */
    }

    .count-box h2 {
        margin: 0;
        font-size: 24px;
        font-weight: bold; /* Add font-weight property */
        color: #333; /* Add color property */
    }
</style>

<div class="dashboard-container">
    <h1>Dashboard</h1>

    <div class="count-box">
        <h2>Number of Appointments: {{ appointment_count }}</h2>
        <h4>Pending Appointments: {{ pending_appointments }}</h4>
        <h4>Scheduled Appointments: {{ scheduled_appointments }}</h4>
    </div>
   

    <div class="count-box">
        <h2>Number of Patients: {{ patient_count }}</h2>
    </div>

    <div class="count-box">
        <h2>Number of Blogs: {{ blog_count }}</h2>
    </div>
    <div class="count-box">
        <h2>Number of Reviews: {{ review_count }}</h2>
    </div>


</div>

{% endblock %}
