{% extends 'dashboard/base.html' %}

{% block title %} Dr.Rema devi | Dashboard {% endblock %}
{% block content %}


{% load static %}
<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
    }

    .blog-container {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 80%;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
        overflow-x: auto;
        margin-top: 64px;
        
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #FFC8B9;
        color: black;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    .blog-actions {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .add-blog-btn {
        padding: 10px;
        background-color: #fcb9a7;
        color: black;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .add-blog-btn:hover {
        background-color: #fa9d83;
    }

    .edit-btn, .delete-btn {
        padding: 8px;
        background-color: rgb(255, 183, 183);
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 20px;
    }

    .edit-btn:hover, .delete-btn:hover {
        background-color: rgb(255, 131, 131);
    }
    .diving{
        display: flex;
        justify-content: space-between;
    }
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .step-links {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .pagination-link {
        padding: 5px 10px;
        background-color: #fcb9a7;
        color: black;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    .pagination-link:hover {
        background-color: #f3a28c;
    }

</style>
<div class="blog-container">
    <div class="diving">
        <h2>Review</h2>
        <div class="blog-actions">
            <a href="{% url 'dashboard:addreview' %}"><button class="add-blog-btn">Add Review</button></a>
        </div>
    </div>
    {% if reviews %}
    <table>
        <thead>
            <tr>
                <th>Review</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
                <tr>
                    <td style="width:6rem">{{ review.name }}</td>
                    <td>{{ review.review }}</td>
                    <td>
                       
                        <a href="{% url 'dashboard:delete_review' review.id %}">
                            <img class="delete-btn" src="{% static 'image/3405244.png' %}" alt="Delete">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No reviews available.</p>
    {% endif %}
</div>
<div class="pagination" style="margin-bottom:2rem;">
    <span class="step-links">
        {% if reviews.has_previous %}
            <a href="?page=1" class="pagination-link">&laquo; first</a>
            <a href="?page={{ reviews.previous_page_number }}" class="pagination-link">previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ reviews.number }} of {{ reviews.paginator.num_pages }}.
        </span>

        {% if reviews.has_next %}
            <a href="?page={{ reviews.next_page_number }}" class="pagination-link">next</a>
            <a href="?page={{ reviews.paginator.num_pages }}" class="pagination-link">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}