<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Dr.Rema devi  {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <link rel="stylesheet" href="'https://fonts.googleapis.com/css2?family=Artifika&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Artifika&family=Montagu+Slab:opsz,wght@16..144,200&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'owl.theme.default.min.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<body class="mx-20 ipad_min:mx-10 mobile:mx-6">
    <style>
        .slidediv {
        width: 0%;
        overflow: hidden;
        transition: width 0.3s ease;
        z-index: 99;
      }
      
      .slidediv.show {
        width: 75% !important;
        overflow: visible !important;
        z-index: 99;
      }

      .col-md-6{
        margin-top: 20px;
      }
      .messages {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 20px;
        box-sizing: border-box;
        z-index: 1000;
        background-color: #333; /* Add your desired background color */
        color: white; /* Add your desired text color */
        border-radius:1rem;
    }

    .close-btn {
        background-color: #555; /* Add your desired background color for the close button */
        color: white; /* Add your desired text color for the close button */
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        float: right;
    }

    .close-btn:hover {
        background-color: #777; /* Add your desired background color for the close button on hover */
    }
    #message-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 21rem;
        height:10rem; /* Adjust the width as needed */
        padding: 2rem 2rem;
        box-sizing: border-box;
        z-index: 1000;
        background-color: #fdbdab; /* Add your desired background color */
        color:black; /* Add your desired text color */
        text-align: center;
        display: none; /* Hide the container by default */
    }

    #close-message {
        background-color: #f1ae9c;
        color: rgb(94, 93, 93);
        border: none;
        padding: 8px 20px;
        cursor: pointer;
        margin-top: 10px;
        border-radius:1rem;
      
    }

    #close-message:hover {
        background-color: #f8d9d9;

    }
    @media (max-width: 900px) {
        footer img{
            height:1.5rem;
        }
    }

    @media (min-width: 700px) and (max-width: 1200px) {
        .ft-bt{
            display:none;
        }
        
    }
    
    </style>

    <!-- header starts here -->
    <header>
        <div class="flex justify-between my-8">
            <h1 class="font-artifika text-2xl nav-link"><a href="{% url 'main:index' %}">Dr.Rema Devi</a></h1>
            <div class="hidden ipad_min:block mobile:block phone_max:block">
                <img id="menuicon" src="{% static 'image/Menu.svg' %}" alt="">
            </div>
            <div class="flex gap-10 ipad_min:hidden mobile:hidden phone_max:hidden ">
                <nav>
                    <ul class="flex gap-7 text-lg font-montasorrat my-2">
                        <li><a href="{% url 'main:consult' %}" class="nav-link">Consultation</a></li>
                        <li><a href="{% url 'main:about' %}" class="nav-link">About</a></li>
                        <li><a href="{% url 'main:blog' %}" class="nav-link">Blog</a></li>
                    </ul>
                </nav>
                
                <button class="bg-primary py-2 px-6 font-montasorrat rounded-full font-medium hover:bg-black hover:text-primary  transition ease-in-outnp duration-75" id="up">
                    <a href="javascript:void(0)">Make an appointment</a>
                </button>
            </div>
        </div>
    </header>
    {% if messages %}
        <div id="message-container" class="messages">
            {% for message in messages %}
            <div class="{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">
                {{ message }}
            </div>
            <div id="message-content"></div>
            <div>
                <button id="close-message" class="close-btn">Close</button>
            </div>
            
            {% endfor %}
        </div>
    {% endif %}
    <!-- popup starts here -->
    <div class="flex fixed left-[-500px] popup z-[9999999]" id="pop" style="margin-top:-5rem;">
        <div id="message-container">
            <!-- Messages will be displayed here -->
        </div>
        <form action="{% url 'main:appointment' %}" method="POST" id="appointment-form" class="bg-light w-[30rem] p-10 rounded-lg ipad_min:w-full mobile:w-full ">
            {% csrf_token %}
        
            <label for="name" class="block text-base">Name</label>
            {% comment %} <input type="text" >  {% endcomment %}
            <div id="name" name="name">
                {{ form.name }}
            </div>
        
        
            <label for="email" class="block text-base mt-3">E-mail</label>
            {% comment %} <input type="text" id="email" name="email" class="border border-gray-800 rounded p-2 w-full"> {% endcomment %}
            <div id="email" name="email" >
                {{ form.email }}
            </div> 
            
            <label for="contact" class="block text-base mt-3">Contact Number</label>
            {% comment %} <input type="text" id="contact" name="contact" class="border border-gray-800 rounded p-2 w-full"> {% endcomment %}
            <div id="contact" name="contact" value="+91">
                {{ form.contact }}
            </div>
        
            <label for="purpose" class="block text-base mt-3">Purpose</label>
            {% comment %} <input type="text" id="purpose" name="purpose" class="border border-gray-800 rounded p-8 w-full"> {% endcomment %}
            <div id="purpose" name="purpose">
                {{ form.purpose }}
            </div>
        
            <!-- <div class="tym">
                <label for="date" class="block text-base mt-3">Date</label>
                {% comment %} <input type="text" id="date" name="date" class="border border-gray-800 rounded p-2 w-full"> {% endcomment %}
                <div id="date" name="date">
                    {{ form.date }}
                </div>
    
                <label for="time" class="block text-base mt-3">Time</label>
                {% comment %} <input type="text" id="date" name="date" class="border border-gray-800 rounded p-2 w-full"> {% endcomment %}
                <div id="time" name="time">
                    {{ form.time }}
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="appointment_date" class="text-black">Date</label>
                        <div class="y_1">
                            {{ form.date }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="appointment_time" class="text-black">Time</label>
                        <div class="y_1">
                            {{ form.time }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-between gap-3" style="margin-top:2rem;">
               
                <div class="flex justify-center">
                    <button type="button" class="border border-black w-[10rem] h-[3rem] read" id="closeButton">Close</button>
                </div>
                <div class=" flex justify-center ipad_min:hidden mobile:hidden">
                    <button type="submit" class="border w-[10rem] h-[3rem] rounded-3xl bg-primary">Book Now</button>
                </div>
                <div class=" justify-center hidden ipad_min:block mobile:hidden ">
                    <button type="submit" class="border w-[10rem] h-[3rem] rounded-3xl bg-primary ipad_min:w-28 ipad_min:h-10 mobile:h-10 mobile:w-28">Book</button>
                </div>
            </div>
        </form>
    </div>
    <!-- popup end here -->
    <!-- menu bar starts here -->
    <div id="slidemenu" class="slidediv py-8 items-center text-center right-0 top-0 fixed h-full bg-black z-[99]">
        <div class="bg-black" >
            <div class="my-20">
                <a href="{% url 'main:index' %}"><h1 class="font-artifika text-3xl text-[2rem] text-baseprimary">Dr.Rema Devi</h1></a>
            </div>
            <div>
                <nav>
                    <ul class=" text-xl font-montserrat text-baseprimary">
                        <a href="{% url 'main:index' %}"><li>Home</li></a>
                        <a href="{% url 'main:consult' %}"><li class="my-6">Consultation</li></a>
                        <a href="{% url 'main:about' %}"><li>About</li></a>
                        <a href="{% url 'main:blog' %}"><li class="my-6">Blog</li></a>
                    </ul>
                </nav>
            </div>
            <div id="closeicon" class="flex justify-center my-20">
                <img src="{% static 'image/xmark.svg' %}" alt="">
            </div>
        </div>
    </div>
    <!-- menu bar ends here -->
    {% block content %}
    {% endblock %}
    <footer>
        <div class="bg-black flex justify-evenly py-20 rounded-3xl my-16 ipad_min:grid ipad_min:px-6 mobile:grid mobile:px-6 phone_max:grid phone_max:px-8">
            <div>
                <h1 class="text-primary text-3xl font-artifika ipad_min:hidden mobile:hidden ipad:hidden">Dr.Rema Devi</h1>
                <div class="flex my-5 gap-5 ipad_min:hidden mobile:hidden ipad:hidden">
                    <img src="{% static 'image/instagram.svg' %}" alt="">
                    <a href="https://www.facebook.com/profile.php?id=61557549630309"> <img src="{% static 'image/facebook.svg' %}" alt=""></a>
                </div>
            </div>
            <div>
                <h1 class="text-primary underline font-montserrat text-xl  ">Quick Links</h1>
                <nav>
                    <ul class="my-5">
                        <li class="text-baseprimary font-montserrat text-lg mb-4 hover:text-primary "><a href="{% url 'main:index' %}"></a>Home</li>
                        <li class="text-baseprimary font-montserrat text-lg hover:text-primary "><a href="{% url 'main:consult' %}">Consultation</a></li>
                        <li class="text-baseprimary font-montserrat text-lg my-5 hover:text-primary "><a href="{% url 'main:about' %}">About</a></li>
                        <li class="text-baseprimary font-montserrat text-lg hover:text-primary "><a href="{% url 'main:blog' %}">Blog</a></li>
                    </ul>
                </nav>
            </div>
            <div>
                <h1  class="text-primary underline font-montserrat text-xl ipad_min:text-xl mobile:text-xl ">How to reach us</h1>
                <div class="flex gap-5 my-5 text-lg ipad_min:text-base mobile:text-base">
                    <img src="{% static 'image/call.svg' %}" alt="">
                    <a href="tel:+9745640301" class="text-baseprimary font-montserrat hover:text-primary">9745 640 301</a>
                    <a href="tel:+9995045525" class="text-baseprimary font-montserrat hover:text-primary">9995 045 525</a>
                </div>
                
                <div class="flex gap-5 text-lg ipad_min:text-base mobile:text-base">
                    <img src="{% static 'image/Envelope.svg' %}" alt="">
                    <a href="mailto:remaagrasala18@gmail.com" class="text-baseprimary font-montserrat hover:text-primary">remaagrasala18@gmail.com</a>
                </div>
                
                <div class="flex gap-5 my-5 text-lg ipad_min:text-base mobile:text-base">
                    <img src="{% static 'image/location.svg' %}" alt="">
                    <a href="https://www.google.com/maps/place/South+Nada, Kodungallur, Thrissur, Kerala-680 664" target="_blank" class="text-baseprimary font-montserrat hover:text-primary">South Nada, Kodungallur, Thrissur, Kerala-680 664</a>
                </div>
                
            </div>
            <div>
                <button class="bg-primary  text-black py-2 px-8 read ipad_min:hidden mobile:hidden ipad:hidden hover:bg-[#e98468] ft-bt" id="uping">
                    <a href="javascript:void(0)" class="text-xl ipad_min:text-lg mobile:text-lg">Book an appointment</a>
                </button>
            </div>
             <div class="hidden ipad_min:block mobile:block">
                <h1 class="text-primary underline font-montserrat text-xl ipad_min:text-base mobile:text-base">Social Media</h1>
                <div class="flex my-5 gap-4 hover:text-primary ">
                    <img src="{% static 'image/instagram.svg' %}" alt="">
                    <a href="https://www.facebook.com/profile.php?id=61557549630309"> <img src="{% static 'image/facebook.svg' %}" alt=""></a>
                   
                </div>
            </div>
        </div>
    </footer>
    <!-- footer ends here -->
    <!-- ... other script tags ... -->

    <script>
        const popup = document.getElementById('pop');
        const openButton = document.getElementById('up');
        const footerButton = document.getElementById('uping');
        const closeButton = document.getElementById('closeButton');
        const appointmentPopup = document.getElementById('respo');
    

        let isLeft = true;

        openButton.addEventListener('click', () => {
            togglePopup();
        });

        footerButton.addEventListener('click', () => {
            togglePopup();
        });

        closeButton.addEventListener('click', () => {
            togglePopup();
        });
        appointmentPopup.addEventListener('click', () => {
            togglePopup();
        });

        function togglePopup() {
            if (isLeft) {
                popup.style.left = '50%';
            } else {
                popup.style.left = '-300px';
            }
            isLeft = !isLeft;
        }
    </script>
    <script>
        // Function to display a message
        function showMessage(message) {
            document.getElementById('message-content').innerHTML = message;
            document.getElementById('message-container').style.display = 'block';
        }
    
        // Function to close the message
        function closeMessage() {
            document.getElementById('message-container').style.display = 'none';
        }
    
        // Function to clear the form
        function clearForm() {
            document.getElementById('appointment-form').reset();
        }
    
        // Example: Show a message when the page loads
        document.addEventListener('DOMContentLoaded', function () {
            showMessage('');
        });
    
        // Example: Close the message when the close button is clicked
        document.getElementById('close-message').addEventListener('click', function () {
            closeMessage();
        });
    
        // Add this part to clear the form after successful submission
        document.getElementById('appointment-form').addEventListener('submit', function () {
            clearForm();
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="{% static 'owl.carousel.min.js' %}"></script>
    <!-- Add this script section after including owl.carousel.min.js -->
<script>
    $(document).ready(function(){
      $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        autoplay:true, // Add this line to enable autoplay
        autoplayTimeout:10000, // Set the autoplay timeout in milliseconds (e.g., 5000 for 5 seconds)
        responsive:{
          0:{
            items:1
          },
          600:{
            items:1
          },
          1000:{
            items:3
          }
        }
      });
    });
  </script>
  

    <script src="{% static 'script.js' %}"></script>
</body>
</html>
