{% extends 'base.html' %}

{% block title %} Dr.Rema devi | Blog {% endblock %}
{% block content %}

{% load static %}


    

    <!-- menu bar starts here -->
    <div id="slidemenu" class="slidediv py-8 items-center text-center right-0 top-0 fixed h-full bg-black z-[9999999]">
        <div class="bg-black" >
            <div class="my-20">
                <a href="{% url 'main:index' %}"><h1 class="font-artifika text-3xl text-[2rem] text-baseprimary">Dr.Rema Devi</h1></a>
            </div>
            <div>
                <nav>
                    <ul class=" text-xl font-montserrat text-baseprimary">
                        <a href="{% url 'main:index' %}"><li>Home</li></a>
                        <a href="{% url 'main:consult' %}"><li class="my-6">Consultation</li></a>
                        <a href="{% url 'main:about' %}"><li>About</li></a>
                        <a href="{% url 'main:blog' %}"><li class="my-6">Blog</li></a>
                    </ul>
                </nav>
            </div>
            <div id="closeicon" class="flex justify-center my-20">
                <img src="{% static 'image/xmark.svg' %}" alt="">
            </div>
        </div>
    </div>
    <!-- menu bar ends here -->

    <!-- spotlight section starts here -->

   <!-- spotlight section ends here -->

    <!-- grid section starts here -->
   <section>
        
        <div class="flex flex-wrap gap-16 ipad_min:grid mobile:grid">
            {% if blogs %}
                {% for blog in blogs %}
                <div class=" w-[30%] font-montserrat ipad_min:w-full mobile:w-full phone_max:w-full ipad:w-[45%]">
                    <a href="{% url 'main:single' blog.pk %}"><img class="mb-4 transition-transform transform hover:scale-105" src="{{ blog.image.url }}" alt=""></a>
                    <a href="{% url 'main:single' blog.pk %}"><h1 class="font-semibold ">{{ blog.title }}</h1></a>
                    <a href="{% url 'main:single' blog.pk %}"><p class="my-4">{{blog.content|slice:":255" | safe}}</p></a>
                    <a href="{% url 'main:single' blog.pk %}"><h2>{{ blog.date }}</h2></a>
                </div>
                {% endfor %}
            {% else %}
                <p>No blogs available.</p>
            {% endif %}
        </div>
   </section>
   <!-- grid ends here -->

{% endblock %}