{% extends 'base.html' %}

{% block title %} Dr.Rema devi | Blog {% endblock %}
{% block content %}

{% load static %}
<style>
    .button1:hover {
        background: #fcb9a7;
    }

    .image-container {
        position: relative;
        display: block;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 2.5rem;
        background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value for the desired level of transparency */
        opacity: 0; /* Initially set to fully transparent */
        transition: opacity 0.3s ease; /* Add a smooth transition effect */
    }

    .hover-transform {
        transition: transform 0.3s ease; /* Add a smooth transition effect */
    }

    .hover-transform:hover {
        transform: translateX(-10px); /* Adjust the value as needed for the desired leftward transformation */
    }
    .txt{
        color:white;
    }
</style>


    

    <!-- menu bar starts here -->
    <div id="slidemenu" class="slidediv py-8 items-center text-center right-0 top-0 fixed h-full bg-black z-[9999999]">
        <div class="bg-black" >
            <div class="my-20">
                <a href="{% url 'main:index' %}"><h1 class="font-artifika text-3xl text-[2rem] text-baseprimary">Dr.Rema Devi</h1></a>
            </div>
            <div>
                <nav>
                    <ul class=" text-xl font-montserrat text-baseprimary">
                        <a href="{% url 'main:index' %}"><li>Home</li></a>
                        <a href="{% url 'main:consult' %}"><li class="my-6">Consultation</li></a>
                        <a href="{% url 'main:about' %}"><li>About</li></a>
                        <a href="{% url 'main:blog' %}"><li class="my-6">Blog</li></a>
                    </ul>
                </nav>
            </div>
            <div id="closeicon" class="flex justify-center my-20">
                <img src="{% static 'image/xmark.svg' %}" alt="">
            </div>
        </div>
    </div>
    <!-- menu bar ends here -->

    <!-- spotlight section starts here -->
   <section>
        <div>
            {% if featured_blog %}
            <div class="ipad_min:w-full mobile:w-full">
                <a href="#" class="image-container">
                    <img class="w-full ipad_min:hidden mobile:block " style="height:35rem;width:100%;" src="{{ featured_blog.image.url }}" alt="">
                    <img class="hidden ipad_min:block mobile:hidden" src="{{ featured_blog.image.url }}" alt="">
                    <div class="overlay"></div>
                </a>
            </div>
            <div class="absolute top-[20%] p-32 ipad_min:p-8 ipad_min:top-[35%] mobile:p-7 mobile:top-[15%] phone_max:top-[15%] phone_max:p-7 ipad:p-7 ipad:top-28">
                <h5 class="font-montserrat text-base my-8 text-white ipad_min:my-3 mobile:my-3">Featured</h5>
                <h1 class="font-montserrat text-4xl font-semibold text-white ipad_min:text-sm mobile:text-sm phone_max:text-xl">{{ featured_blog.title }}</h1>
                <div class="flex justify-between gap-20 my-8 hover-transform">
                    <h6 class="font-montserrat ipad_min:hidden mobile:hidden phone_max:hidden ipad:hidden txt" style="color:white;">{{ featured_blog.content|slice:":255" | safe }}</h6>
                    <a href="{% url 'main:single' pk=featured_blog.pk %}">
                        <img src="{% static 'image/Arrow.svg' %}" alt="">
                    </a>
                </div>
                
            </div>
            {% else %}
                <p>No featured blog available.</p>
            {% endif %}
        </div>
   </section>
   <!-- spotlight section ends here -->

    <!-- grid section starts here -->
   <section>
        <h1 class="my-8 font-artifika text-4xl">Recent blog posts</h1>
        <div class="flex flex-wrap gap-16 ipad_min:grid mobile:grid">
            {% if blogs %}
                {% for blog in blogs %}
                <div class=" w-[30%] font-montserrat ipad_min:w-full mobile:w-full phone_max:w-full ipad:w-[45%]">
                    <a href="{% url 'main:single' blog.pk %}"><img class="mb-4 transition-transform transform hover:scale-105" src="{{ blog.image.url }}" alt=""></a>
                    <a href="{% url 'main:single' blog.pk %}"><h1 class="font-semibold ">{{ blog.title }}</h1></a>
                    <a href="{% url 'main:single' blog.pk %}"><p class="my-4">{{blog.content|slice:":255" | safe}}</p></a>
                    <a href="{% url 'main:single' blog.pk %}"><h2>{{ blog.date }}</h2></a>
                </div>
                {% endfor %}
            {% else %}
                <p>No blogs available.</p>
            {% endif %}    
        </div>
        <div class="my-12 flex justify-center">
            <button class="border border-black w-[25rem] h-[3rem] read button1">
                <a href="{% url 'main:blogs' %}">load more ...</a>
            </button>
        </div>
   </section>
   <!-- grid ends here -->

{% endblock %}